@import url('https://fonts.googleapis.com/css?family=Cairo:300,400,600,700&subset=arabic');

body {
  margin: 0 auto;
  padding: 0;
  max-width: 400px;
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

